
@{
    ViewData["Title"] = "Confirmar email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        ¡Muchas Gracias Por Confirmar Tu Email!. Ahora Puedes Iniciar Sesion en el Sistema.
    </p>
</div>


