@model PNN.Web.Models.ZoneViewModel
<div class="form-group">
    <label asp-for="Nombre" class="control-label"></label>
    <input asp-for="Nombre" class="form-control" />
    <span asp-validation-for="Nombre" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageUrl" class="control-label"></label>
    <input asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Like" class="control-label"></label>
    <input asp-for="Like" class="form-control" />
    <span asp-validation-for="Like" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DisLike" class="control-label"></label>
    <input asp-for="DisLike" class="form-control" />
    <span asp-validation-for="DisLike" class="text-danger"></span>
</div>

<div id="map" style="height:300px; width:100%;"></div>
<br />

<div class="form-row">
    <div class="form-group col-md-3">
        <label asp-for="latitud" class="control-label"></label>
        <input type="text" asp-for="latitud" id="Lat" class="form-control" />
        <span asp-validation-for="latitud" class="text-danger"></span>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="longuitud" class="control-label"></label>
        <input type="text" asp-for="longuitud" id="Long" class="form-control" />
        <span asp-validation-for="longuitud" class="text-danger"></span>
    </div>
</div>
<br />
<script>
                    // Initialize and add the map
                    var Bog = { lat: 4.710967, lng: -74.072004 };
                    var marker;

                    function initMap() {
                        // The location of Uluru
                        //4.710967, -74.072004
                        // The map, centered at Uluru
                        var map = new google.maps.Map(
                            document.getElementById('map'), { zoom: 4, center: Bog });
                        // The marker, positioned at Uluru
                        marker = new google.maps.Marker({ position: Bog, map: map });

                        google.maps.event.addListener(map, 'click', function(event) {
                            var result = [event.latLng.lat(), event.latLng.lng()];
                            transition(result);
                         });
                    }



                    var numDeltas = 100;
                    var delay = 10; //milliseconds
                    var i = 0;
                    var deltaLat;
                    var deltaLng;

                    function transition(result){
                        i = 0;
                        deltaLat = (result[0] - Bog.lat) / numDeltas;
                        deltaLng = (result[1] - Bog.lng) / numDeltas;
                        moveMarker();
                    }

                    function moveMarker() {
                        Bog.lat += deltaLat;
                        Bog.lng += deltaLng;
                        var latlng = new google.maps.LatLng(Bog.lat, Bog.lng);
                        marker.setTitle("Latitude:" + Bog.lat + " | Longitude:" + Bog.lng);
                        marker.setPosition(latlng);
                        if (i != numDeltas) {
                            i++;
                            setTimeout(moveMarker, delay);
                        }

                        var lat = Bog.lat;
                        var lng = Bog.lng;

                        myFunc("Lat" , lat);
                        myFunc("Long", lng);

                    }

                   /*function addMarker(location, map) {
                        // Add the marker at the clicked location, and add the next-available label
                        // from the array of alphabetical characters.
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });

                        marker.setMap(marker);

                        var lat = location.lat;
                        var lng = location.lng;

                        myFunc("Lat", lat);
                        myFunc("Long", lng);

                    }*/

                    function myFunc(variable,coord) {
                        var s = document.getElementById(variable);
                        s.value = coord;
                    }



</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZnGkhL--bUGKbcagJ0uGDu-kuy4OvLX4&callback=initMap">
</script>

<br />