<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Colombia Natural Parks</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body style="padding-top:0px;">
    <div class="flex-wrap">
        <nav class="navbar navbar-expand-lg navbar-dark" id="Primary">
            <a class="navbar-brand" href="#">Colombia Natural Parks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Acerca</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contactanos</a></li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Owners" asp-action="Index">Usuarios</a></li>
                        <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Managers" asp-action="Index">Managers</a></li>
                        <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Parks" asp-action="Index">Parques</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Zonas
                            </a>
                            <div class="dropdown-menu" id="Primary" aria-labelledby="navbarDropdownMenuLink" style="background-color:#84BF04;top:0;left:0;">
                                <a class="nav-link" id="Primary" asp-area="" asp-controller="ZoneTypes" asp-action="Index">Tipos de Zonas</a>
                                <a class="nav-link" id="Primary" asp-area="" asp-controller="Zones" asp-action="Index">Zonas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Contenidos
                            </a>
                            <div class="dropdown-menu" id="Primary" aria-labelledby="navbarDropdownMenuLink" style="background-color:#84BF04;top:0;left:0;">
                                <a class="nav-link" id="Primary" asp-area="" asp-controller="ContentTypes" asp-action="Index">Tipo de Contenidos</a>
                                <a class="nav-link" id="Primary" asp-area="" asp-controller="Contents" asp-action="Index">Publicaciones</a>
                            </div>
                        </li>
                        <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Comments" asp-action="Index">Comentarios</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Contents" asp-action="Index">Publicaciones</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                    @* Si el usuario es valido loguea *@
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="ChangeUser">@User.Identity.Name</a></li>
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Salir</a></li>
                    }
                    else
                    {
                    <li class="nav-item active"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Ingresar</a></li>
                    }
                </ul>
            </div>
        </nav>
        <section class="container-fluid">
            @RenderBody()
            <hr />
            <footer>
                <div class="d-flex justify-content-center links">
                    <p>&copy; 2020 - Colombia Natural Parks</p>
                </div>
            </footer>
        </section>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="http://code.jquery.com/jquery-2.2.4.js"
                integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
                integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
                crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
