@model PNN.Web.Models.ParkViewModel

<div class="form-row">
    <div class="form-group col-md-12">
        <label asp-for="Name" class="control-label"></label>
        <textarea asp-for="Name" class="form-control"></textarea>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control resizable-panels"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label asp-for="Creation" class="control-label"></label>
        <input type="date" asp-for="Creation" class="form-control" />
        <span asp-validation-for="Creation" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Been" class="control-label"></label>
        <input asp-for="Been" class="form-control" placeholder="Ej: abierto al público" />
        <span asp-validation-for="Been" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Extension" class="control-label"></label>
        <input asp-for="Extension" class="form-control" placeholder="Ej: 100 héctareas" />
        <span asp-validation-for="Extension" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <div class="form-group">
            <label asp-for="ImageFile" class="control-label"></label>
            <input asp-for="ImageFile" class="form-control" type="file" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Height" class="control-label"></label>
        <input asp-for="Height" class="form-control" placeholder="Ej: 100 - 200 msnm (aprox)" />
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Temperature" class="control-label"></label>
        <input asp-for="Temperature" class="form-control" placeholder="Ej: 27 °C" />
        <span asp-validation-for="Temperature" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="Flora" class="control-label"></label>
        <textarea asp-for="Flora" class="form-control"></textarea>
        <span asp-validation-for="Flora" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Wildlife" class="control-label"></label>
        <textarea asp-for="Wildlife" class="form-control"></textarea>
        <span asp-validation-for="Wildlife" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Communities" class="control-label"></label>
    <textarea asp-for="Communities" class="form-control"></textarea>
    <span asp-validation-for="Communities" class="text-danger"></span>
</div>