@model PNN.Web.Models.ParkViewModel

@{
    ViewData["Title"] = "Create";
}
<br />
<hr />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form asp-action="Create"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManagerId" />
            <partial name="_Park" />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">volver</a>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>

