@model PNN.Web.Models.ParkViewModel
@{
    ViewData["Title"] = "Editar";
}
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="fa-image" style="align-content: center;justify-content: center;">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="height:100%; width: 100%;" />
            }
        </div>
    </div>
    <div class="col-md-8">
        <h4>Editar Publicación</h4>
        <br />
        <form asp-action="EditPark" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManagerId" />
            <input type="hidden" asp-for="ImageUrl" />

            <partial name="_Park" />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-success">volver</a>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>