@{
    ViewData["Title"] = "About";
}
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <br /><br />
        <center>
            <h1>Colombia Natural Parks - ConParks</h1>
        </center>
            <h2>Proposito:</h2>
            <p>
                Este un proyecto de investigación de una beca pasantía en convenio entre la universidad Simón Bolívar sede Cúcuta y Col-ciencias, el título de la investigación es:
                "Creación de una herramienta digital (aplicación móvil) para la georreferenciación de zonas ambientales afectadas por el conflicto armado en el Parque Natural Nacional Catatumbo Barí, Norte de Santander, municipio de Tibú".
            </p>
            <br />
            <h2>Resumen:</h2>
            <p style="text-align: justify;">
                Este es el producto de una investigación que propone el aprovechamiento de las herramientas digitales y de tecnología de la información y del comunicación TIC’s,
                haciendo uso de los dispositivos móviles como instrumentos clave para llevar a  las personas, información del contexto de forma directa y desde un enfoque pedagógico;
                en la concientización, educación y promoción de la realidad ambiental en la zona del Catatumbo, apostando a la preservación del Parque Nacional Natural del Catatumbo Barí,
                Norte de Santander, municipio de Tibú; territorio que ha tenido una transcendencia histórica inmersa en el conflicto armado. <br /><br />

                Metodológicamente se encuentra enmarcada desde el paradigma positivista, dentro del enfoque de investigación cuantitativo por el análisis de los datos y variables
                cuantificadas que en el intervienen, de diseño no experimental, utilizando el método descriptivo transversal o traseccional y el método documental histórico.
                Como resultado principal tenemos la creación de una aplicación móvil funcional (ConParks), como una alternativa de solución para el fomento la memoria histórica de la zona
                y una cultura de paz hacia la concientización del cuidado de la naturaleza y el ambiente.
            </p>
            <center>
                <img src="~/images/Conparks.png" width="20%">
            </center>
    </div>
    <div class="col-md-5">
        <br />        
        <center>
            <h1>Prototipo App Móvil ConParks</h1>
            <img src="~/images/Captura.png">
        </center>
    </div>
</div>
