@{
    ViewData["Title"] = "Contactanos";
}

<div class="row">
    <div class="col-md-6">
        <br />
        <br />
        <h2><b>Joven Investigador:</b> </h2>
        <address>
            Eider Manuel Prado Avendaño<br />
            Ingeniero de Sistemas<br />
            Universidad Simón Bolivar Sede Cúcuta<br />
            Calle 15 #142, Cúcuta, Norte de Santander<br />
            Cel: 3133155038
        </address>

        <address>
            <strong>Soporte:</strong> <a href="mailto:soporteconparks@gmail.com">soporteconparks@gmail.com</a><br />
            <strong>Email personal:</strong> <a href="mailto:eiderprado@hotmail.com">eiderprado@hotmail.com</a>
        </address>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div> 
</div>



